<form>
  Uzupełnij dane karty płatniczej
  <label (change)="authorize()">
  Numer
  <input type="text" [(ngModel)]="user.number" [ngModelOptions]="{standalone: true}">
  CCV
  <input type="text" [(ngModel)]="user.ccv" [ngModelOptions]="{standalone: true}">
  Data ważności
  <input type="text" [(ngModel)]="user.expiryDate" [ngModelOptions]="{standalone: true}">
  Imię
  <input type="text" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
  Nazwisko
  <input type="text" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
</label>


    {{products[0].name}}
  <label>
    <input type="checkbox" [(ngModel)]="choiceProducts[0]" [ngModelOptions]="{standalone: true}">
  </label>
  {{products[1].name}}
  <label>
    <input type="checkbox" [(ngModel)]="choiceProducts[1]" [ngModelOptions]="{standalone: true}">
  </label>
  {{products[2].name}}
  <label>
    <input type="checkbox" [(ngModel)]="choiceProducts[2]" [ngModelOptions]="{standalone: true}">
  </label>
  {{products[3].name}}
  <label>
    <input type="checkbox" [(ngModel)]="choiceProducts[3]" [ngModelOptions]="{standalone: true}">
  </label>
  <p>Całość: {{price()}}zł</p>
  <button (click)="buy()">Zapłać kartą</button>
</form>
